<div class="row">
  <!-- <img [src]="img" *ngFor="let img of imgs"> -->
  <img src="..\assets\img\DJI_0393-4.jpg" class="imgP" alt="">
  <img src="..\assets\img\DJI_0286.jpg" class="imgL" alt="">
  <img src="..\assets\img\DJI_0220.jpg" class="imgL" alt="">
  <img src="..\assets\img\DJI_0393-4.jpg" class="imgP" alt="">
  <img src="..\assets\img\DJI_0286.jpg" class="imgL" alt="">
  <img src="..\assets\img\DJI_0220.jpg" class="imgL" alt="">
  <img src="..\assets\img\DJI_0393-4.jpg" class="imgP" alt="">
  <img src="..\assets\img\DJI_0286.jpg" class="imgL" alt="">
  <img src="..\assets\img\DJI_0220.jpg" class="imgL" alt="">
</div>