.row {
    display: flex;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    justify-content: space-around;
    margin: 0 auto;
}

.smallImg {
    width: 15rem;
    height: 15rem;
    padding: 10px 0px;
    border-radius: 50%;
    filter: brightness(0.8);
    
}


.smallImg:hover {
    filter: contrast(1.2);
    transform: scale(1.1);
    -webkit-transform: scale(1.2);
    cursor: pointer;
}
/* 
.smallImg {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.smallImg:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
} */

@media only screen and (max-width: 800px) {
    .smallImg {
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 10px 0px;
        filter: brightness(1);
    }

    .smallImg:hover {
        opacity: 1;
    }
}