<div class="container">
  <br>
  <img class="panorama" [src]="currentImg" alt="">
</div>
<br>
<p>
  אהלן שמי אביתר, ואני מאוד אוהב לצלם, לכן שדרגתי את האהבה שלי <BR>
  והתחלתי לצלם צילום אווירי בעזרת רחפן :) <br>
  יש לי רישיון הסמכה ואהבה לתחום <br>
  אשמח לשתף אתכם ביצירותי ואולי גם אוכל לסייע לכם במשימה <br><br>
  <i class='fas' style="text-align: right">
    &#xf66f;  צילומי נדל"ן <br><br>
    &#xf1bb;  צילומי נוף <br><br>
    &#xf2b5;  צילומי תדמית <br><br>
    &#xf561;  צילומי אירועים <br><br><br>
    &#xf580;  תהנו...
  </i><br>
  
</p>
<br><br>


<footer>
  All rights reserved 2019 &#169;
</footer>