<!-- <div class="container">
  <br>
  <img class="panorama" [src]="currentImg" alt="">
</div> -->
<div class="container">
  <div class="elementor-background-video-container elementor-hidden-phone">
    <iframe class="elementor-background-video-embed"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
      src="https://www.youtube.com/embed/gLVe8QjWct0?autoplay=1&controls=0&version=3&loop=1&playlist=gLVe8QjWct0" frameborder="0"
      allowfullscreen="1" ></iframe>
  </div>
</div>
<br>
<p class="me">
  אהלן שמי אביתר ואני מאוד אוהב לצלם, <BR>
  לכן שדרגתי את האהבה שלי<br>
  והתחלתי לצלם צילום אווירי בעזרת רחפן<br>
  אני בעל רישיון הסמכה ואהבה לתחום, <br>
  אשמח לשתף אתכם ביצירותי <br>
  ואולי אוכל לסייע גם לכם במשימה
</p>
<p class="subj">
  <i class='fas' style="text-align: right">
    &#xf66f; צילומי נדל"ן <br><br>
    &#xf1bb; צילומי נוף <br><br>
    &#xf2b5; צילומי תדמית <br><br>
    &#xf561; צילומי אירועים <br><br><br>
    &#xf580; תהנו...
  </i>
</p>

<br>


<footer>
  All rights reserved 2019 &#169;
</footer>