/* You can add global styles to this file, and also import other style files */
body,html{
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    margin: 0 0;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}