nav {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.404);
}

nav a {
    text-decoration: none;
}

ul {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

ul li {
    display: inline;
}

nav a.current-page {
    font-weight: normal;
}

h3 {
    color: white;
    font-size: 25px;
}

.header {
    position: absolute;
    /* margin: 5px 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#icon {
    height: 80px;
    width: 150px;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#bh {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 7px;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }

}

@media only screen and (max-width: 600px) {
    nav {
        font-size: 9px;
    }
    #icon {
        height: 46px;
        width: 64px;
    }
    
    h3 {
        font-size: 17px;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        font-size: 12px;
    }
    #icon {
        height: 48px;
        width: 80px;
    }
    
    h3 {
        font-size: 17px;
    }
}