<div class="container">

    <div class="header">
        <img id="icon" [src]="imgService.icon" alt="icon">
      </div>
  <nav>
      
    <ul>
      <li>
        <a routerLink="">
          <h3> דף הבית</h3>
        </a>
      </li>
      <li>
        <a routerLink="gallery" routerLinkActive="current-page">
          <h3> גלריה</h3>
        </a>
      </li>
      <li>
        <a routerLink="contact" routerLinkActive="current-page">
          <h3> צור קשר</h3>
        </a>
      </li>
    </ul>
  </nav>
</div>