<div class="container">

  <div class="header">
    <img id="icon" [src]="imgService.icon" alt="icon">
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="">
          <h3> Main</h3>
        </a>
      </li>
      <li>
        <a routerLink="gallery" routerLinkActive="current-page">
          <h3> Gallery</h3>
        </a>
      </li>
      <li>
        <a routerLink="contact" routerLinkActive="current-page">
          <h3> Contact Us</h3>
        </a>
      </li>
    </ul>
  </nav>

</div>